<!DOCTYPE html>
<html>
<head>
    <title>Edit Job</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="form-container">
    <div class="form-card">

        <h2>Edit Job</h2>

        <form method="POST">

            <input type="text"
                   name="job_title"
                   value="{{ job[1] }}"
                   required>

            <input type="text"
                   name="company_name"
                   value="{{ job[2] }}"
                   required>

            <input type="text"
                   name="location"
                   value="{{ job[3] }}"
                   required>

            <input type="text"
                   name="salary"
                   value="{{ job[4] }}"
                   required>

            <button type="submit">
                Update Job
            </button>

        </form>

    </div>
</div>

</body>
</html>