<!DOCTYPE html>
<html>
<head>
    <title>AI Job Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="navbar">
        <h2>AI Job Portal</h2>
        <div>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/add-job">Add Job</a>
            <a href="/jobs">View Jobs</a>
        </div>
    </div>

    <div class="hero">
    <h1>Find Your Dream Job</h1>
    <p>AI-powered job portal for students and freshers</p>
    <a href="/register" class="btn">Get Started</a>
</div>

</body>
</html>